body {
  font: 100% -apple-system, BlinkMacSystemFont, "Lato", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #333; }

h1 {
  font-size: 3.3125rem;
  font-weight: 900; }

h2 {
  font-size: 2.25rem;
  font-weight: 900; }

h3 {
  font-size: 1.875rem;
  font-weight: 700; }

h4 {
  font-size: 1.625rem;
  font-weight: 700; }

h5 {
  font-size: 1.3125rem;
  font-weight: 700; }

.hvac-logo {
  width: 360px;
  padding: 12px; }

.hvac-tagline {
  color: #fff;
  text-transform: uppercase;
  text-align: center; }

.masthead {
  border-top: 0.5625rem solid #2F338F;
  padding: 30px; }

.masthead img {
  margin: 5px; }

.navbar-dark .navbar-nav .nav-link {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding: 0 1.125rem; }

.navbar-nav > li {
  line-height: 50px; }

.google-guarantee {
  margin-top: -0.8125rem; }

@media (max-width: 768px) {
  .navbar-dark .navbar-nav .nav-link {
    padding: 0.5rem 1.5rem; }

  .google-guarantee {
    margin-top: 0; } }
.bg-primary {
  background-color: #2F338F !important; }

.tagline-features-bg-image {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center bottom;
  border-bottom: 0.5em solid #2F338F; }

.tagline-features-container {
  padding: 4.125rem 1.875rem; }

.features-container {
  padding: 1.25rem 0; }

.tagline-features {
  font-size: 1.125em;
  font-weight: 700;
  color: #fff;
  list-style: none; }

.tagline-features-icon {
  color: #CB020B; }

.cta-quote-button {
  background-color: #2F338F;
  border: 1px solid #2F338F;
  border-radius: 1.375em 1.375em 0 0; }

.cta-quote-button:hover {
  background-color: #CB020B;
  border: 1px solid #CB020B; }

.offer-bar {
  background-color: #CB020B;
  color: #fff;
  padding: 1.5625rem; }

.btn-offer {
  font-size: 1.0625rem;
  border: 1px solid #fff;
  border-radius: 35px;
  background-color: #fff;
  color: #333; }

.btn-offer span {
  line-height: 34px; }

.icon-air-conditioner {
  color: #2F338F; }

.icon-furnace {
  color: #CB020B; }

.services-box {
  border: 1px solid #1E1E1E;
  border-radius: 12px;
  padding: 0.9375rem;
  margin: 0.625rem;
  -webkit-box-shadow: 1px 2px 7px 1px rgba(30, 30, 30, 0.3);
  -moz-box-shadow: 1px 2px 7px 1px rgba(30, 30, 30, 0.3);
  box-shadow: 1px 2px 7px 1px rgba(30, 30, 30, 0.3); }

.services {
  padding: 1.5625rem; }

.services-box i {
  color: #CB020B; }

.services-icon-bg {
  position: relative; }

.services-icon {
  color: #fff; }

.services-icon-bg .services-icon {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%); }

.service-name {
  line-height: 1;
  padding-top: 0.9375rem;
  margin-bottom: 0; }

hr {
  width: 15%;
  border: 3px solid #2F338F; }

.technician-icon {
  margin: 15px 0; }

.why-us {
  margin-top: 1.25rem;
  background-color: #2F338F; }

.left-col-image {
  padding-right: 0;
  padding-left: 0; }

.right-col-copy {
  color: #fff;
  padding: 25px; }

.btn-learn-more {
  font-size: 1.0625rem;
  border: 1px solid #CB020B;
  border-radius: 35px;
  background-color: #CB020B;
  color: #fff; }

.btn-learn-more:hover {
  border: 1px solid #fff;
  background-color: #2F338F;
  color: #fff; }

.testimonial-section {
  background-image: url("../img/image-bg.jpg");
  background-size: cover;
  padding-top: 65px;
  padding-bottom: 65px;
  color: #fff; }

.testimonial {
  padding-top: 30px; }

.testimonial-btn {
  background-color: #CB020B;
  border: 1px solid #CB020B; }

.logos {
  padding-top: 45px;
  padding-bottom: 45px; }

.logos img {
  margin: 15px; }

.footer-top {
  background-color: #2F338F;
  padding: 40px; }

.footer-top img {
  margin: 5px; }

.footer-bottom {
  background-color: #333;
  padding: 20px; }

.footer-bottom, .footer-bottom a {
  color: #fff; }

/*# sourceMappingURL=style.css.map */
