$font-stack: -apple-system,BlinkMacSystemFont,"Lato","Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$body-copy-colour: #333;
$primary-colour: #CB020B;
$secondary-colour: #2F338F;
$white-colour: #fff;
$outline-colour: #1E1E1E;

@mixin box-shadow($value) {
	-webkit-box-shadow: $value;
	-moz-box-shadow: $value;
	box-shadow: $value;
}

body {
  font: 100% $font-stack;
  color: $body-copy-colour;
}

h1 {
	font-size: 3.3125rem;
	font-weight: 900;
}

h2 {
	font-size: 2.25rem;
	font-weight: 900;
}

h3 {
	font-size: 1.875rem;
	font-weight: 700;
}

h4 {
	font-size: 1.625rem;
	font-weight: 700;
}

h5 {
	font-size: 1.3125rem;
	font-weight: 700;
}

.hvac-logo {
	width: 360px;
	padding: 12px;
}

.hvac-tagline {
	color: $white-colour;
	text-transform: uppercase;
	text-align: center;
}

.masthead {
	border-top: 0.5625rem solid $secondary-colour;
	padding: 30px;
}

.masthead img {
	margin: 5px;
}

.navbar-dark .navbar-nav .nav-link {
	text-transform: uppercase;
	color: $white-colour;
	text-align: center;
	padding: 0 1.125rem;
}

.navbar-nav > li {
   line-height: 50px;
}

.google-guarantee {
	margin-top: -0.8125rem;
}

// Expand Padding on Nav Links + Adjust Google Guarantee Icon for small screens
@media (max-width: 768px) {
	.navbar-dark .navbar-nav .nav-link {
		padding: 0.5rem 1.5rem;
	}
	
	.google-guarantee {
    margin-top: 0;
	}
}

.bg-primary {
	background-color: $secondary-colour !important;
}

.tagline-features-bg-image {
	background-image: url("../img/banner.jpg");
	background-size: cover;
	background-position: center bottom;
	border-bottom: 0.500em solid $secondary-colour;
}

.tagline-features-container {
	padding: 4.125rem 1.875rem;
}

.features-container {
	padding: 1.25rem 0;
}

.tagline-features {
	font-size: 1.125em;
	font-weight: 700;
	color: $white-colour;
	list-style: none;
}

.tagline-features-icon {
	color: $primary-colour;
}

.cta-quote-button {
	background-color: $secondary-colour;
	border: 1px solid $secondary-colour;
	border-radius: 1.375em 1.375em 0 0;
}

.cta-quote-button:hover {
	background-color: $primary-colour;
	border: 1px solid $primary-colour;
}

.offer-bar {
	background-color: $primary-colour;
	color: $white-colour;
	padding: 1.5625rem;
}

.btn-offer {
	font-size: 1.0625rem;
	border: 1px solid #fff;
	border-radius: 35px;
	background-color: #fff;
	color: $body-copy-colour;
}

.btn-offer span {
	line-height: 34px;
}

.icon-air-conditioner {
	color: $secondary-colour;
}

.icon-furnace {
	color: $primary-colour;
}

.services-box {
	border: 1px solid  $outline-colour;
	border-radius: 12px;
	padding: 0.9375rem;
	margin: 0.625rem;
	@include box-shadow( 1px 2px 7px 1px rgba(30,30,30,0.3) );
	}

.services {
	padding: 1.5625rem;
}

.services-box i {
	color: $primary-colour;
}

.services-icon-bg {
	position: relative;
}

.services-icon {
	color: $white-colour;
}

.services-icon-bg .services-icon {
	top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.service-name {
	line-height: 1;
	padding-top: 0.9375rem;
	margin-bottom: 0;
}

hr {
	width: 15%;
	border: 3px solid $secondary-colour;
}

.technician-icon {
	margin: 15px 0;
}

.why-us {
	margin-top: 1.25rem;
	background-color: $secondary-colour;
}

.left-col-image {
	padding-right: 0;
  padding-left: 0; 
}

.right-col-copy {
	color: #fff;
	padding: 25px;
}

.btn-learn-more {
	font-size: 1.0625rem;
	border: 1px solid $primary-colour;
	border-radius: 35px;
	background-color: $primary-colour;
	color: $white-colour;
}

.btn-learn-more:hover {
	border: 1px solid $white-colour;
	background-color: $secondary-colour;
	color: $white-colour;
}

.testimonial-section {
	background-image: url('../img/image-bg.jpg');
	background-size: cover;
	padding-top: 65px;
	padding-bottom: 65px; 
	color: #fff;
}

.testimonial {
	padding-top: 30px;
}

.testimonial-btn {
	background-color: $primary-colour;
	border: 1px solid $primary-colour;
}

.logos {
	padding-top: 45px;
	padding-bottom: 45px;
}

.logos img {
	margin: 15px;
}

.footer-top {
	background-color: $secondary-colour;
	padding: 40px;
}

.footer-top img {
	margin: 5px;
}

.footer-bottom {
	background-color: $body-copy-colour;
	padding: 20px;
}

.footer-bottom, .footer-bottom a {
	color: $white-colour;
}